<?xml version="1.0"?>
<model>
  <name>Octo Coaxial</name>
  <version>1.0</version>
  <sdf version="1.5">octo_cox.sdf</sdf>

  <author>
   <name>Igor Napolskikh and Rosalie Kitts</name>
   <email>igor@3drobotics.com</email>
  </author>

  <description>
    This is a model of the Octo Coaxial.
  </description>
</model>
